  /*filename: base.css*/
 @charset "utf-8";
  /*Import the fonts for usage*/
 @font-face {
   font-family: Precious;
   src: url(Precious.ttf) format('truetype');
 } 
 @font-face {
   font-family: Avara;
   src: url(Avara.ttf) format('truetype');
 }
 @font-face {
   font-family: Process;
   src: url(Process-magenta.otf) format('opentype');
 }
 html{
   background-color: rgb(90, 57, 0);
   margin: 0;
   padding: 0px;
   width: 100%;
 }
 body{
   background-color: rgb(94, 78, 49);
   font-family: 'Times New Roman', Times, serif;
   margin: 0 auto;
   width: 100%;
   max-width: 1020px;
   min-width: 640px;
 }
 header{
   background-color: rgb(228, 240, 234);
 }
 img{
   margin: 0px;
   padding: 0px;
   width: 100%;
 }
 nav{
   display: table;
   width: 100%;
 }
 ul {
   display: table-row;
 }
 li {
   display: table-cell;
   text-align: center;
 }
 nav a{
   font-family: 'Trebuchet MS', Helvetica, sans-serif;
   padding-top: 10px;
   padding-bottom: 10px;
 }
 nav a:link, nav a:visited {
   color: white;
   text-decoration: none;
   background-color: rgb(170, 144, 59);
 }
 nav a:hover, nav a:active {
   color: rgb(7, 0, 17, 0.7);
   background-color: hsla(39, 94%, 14%, 0.7);
 }
 footer{
   background-color: hsla(39, 81%, 49%, 0.7);
   font-family: "Lucida Grande", "Lucida Sans Unicode", "LUcida Sans", "DejaVu Sans", Verdana, sans-serif;
   font-size: 0.7em;
   border-top: 2px solid #f3f7f3;
   padding-top: 10px;
   padding-bottom: 20px;
 }